spring:
  config:
    activate:
      on-profile: prod
  thymeleaf:
    cache: true
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    url: jdbc:mysql://root:TzwYbkt9qnN6fKQdZCvs@containers-us-west-80.railway.app:7646/railway?&serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8&useLegacyDatetimeCode=false
    user: root
    password: TzwYbkt9qnN6fKQdZCvs

  datasource:
    url: jdbc:mysql://root:TzwYbkt9qnN6fKQdZCvs@containers-us-west-80.railway.app:7646/railway?&serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8&useLegacyDatetimeCode=false
    username: root
    password: TzwYbkt9qnN6fKQdZCvs