spring:
  flyway:
    enabled: false
    baseline-on-migrate: false
    encoding: UTF-8
    outOfOrder: true
    locations: classpath:db/migration

  mvc:
    hiddenmethod:
      filter:
        enabled: true
  thymeleaf:
    prefix: classpath:/templates
    check-template-location: true
    suffix: .html
    mode: HTML
  servlet:
    multipart:
      maxRequestSize: 10MB
      maxFileSize: 10MB
  jpa:
    defer-datasource-initialization: false
    hibernate:
      use-new-id-generator-mappings: false

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    database: mysql
    open-in-view: false
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver

server:

  tomcat:
    remoteip:
      remote-ip-header: 'X-FORWARDED-FOR'
      protocol-header: "X-Forwarded-Proto"
      host-header: "X-Forwarded-Host"
      port-header: "X-Forwarded-Port"
      protocol-header-https-value: "https"
    use-relative-redirects: true

  http2:
    enabled: true
  ssl:
    enabled: true
    certificate: classpath:ssl/certificate.crt
    certificate-private-key: classpath:ssl/private.key
    trust-certificate: classpath:ssl/ca_bundle.crt
    key-store-password: blisgo
    enabled-protocols: TLSv1.3
    protocol: TLS
    client-auth: need
  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8
    session:
      tracking-modes: cookie
  error:
    include-stacktrace: ALWAYS
    include-exception: true
  compression:
    min-response-size: 4096
    enabled: true
  port: 443
  forward-headers-strategy: native
logging:
  level:
    root: debug