spring:
  flyway:
    enabled: false
    baseline-on-migrate: false
    encoding: UTF-8
    outOfOrder: true
    locations: classpath:db/migration

  mvc:
    hiddenmethod:
      filter:
        enabled: true
  thymeleaf:
    prefix: classpath:/templates
    check-template-location: true
    suffix: .html
    mode: HTML
  servlet:
    multipart:
      maxRequestSize: 10MB
      maxFileSize: 10MB
  jpa:
    defer-datasource-initialization: false
    hibernate:
      use-new-id-generator-mappings: false

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    database: mysql
    open-in-view: false
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
  web:
    resources:
      cache:
        cachecontrol:
          must-revalidate: true
      chain:
        compressed: true
        enabled: true

server:
  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8
    session:
      tracking-modes: cookie
      cookie:
        http-only: true
        secure: true

  error:
    include-stacktrace: ALWAYS
    include-exception: true
  compression:
    min-response-size: 512
    mime-types: text/html,text/plain,text/xml,text/css,application/javascript,application/json
    enabled: true
  port: 8080

logging:
  level:
    root: info