server:
  tomcat:
    remoteip:
      remote-ip-header: 'X-FORWARDED-FOR'
      protocol-header: "X-Forwarded-Proto"
      host-header: "X-Forwarded-Host"
      port-header: "X-Forwarded-Port"
      protocol-header-https-value: "https"
    use-relative-redirects: true
  http2:
    enabled: true
  ssl:
    enabled: true
    certificate: classpath:ssl/certificate.crt
    certificate-private-key: classpath:ssl/private.key
    trust-certificate: classpath:ssl/ca_bundle.crt
    key-store-password: blisgo
    enabled-protocols: TLSv1.3
    protocol: TLS
    client-auth: need
  forward-headers-strategy: native