#accounticon-desktop {
  cursor: pointer;
}

#accounticon-mobile {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

#main {
  padding-top: 56px;
}

#post-title {
  font-weight: bold;
}

#comment-table {
  overflow-y: auto;
  height: 50vh;
}

.ql-editor {
  font-size: 16px;
}

