<!DOCTYPE html>
<html lang="ko" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0">
    <title>회원가입 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:image" content="/assets/img/favicon/512x512.png">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="Publisher" content="분리ㅅㄱ">
    <meta http-equiv="Author" content="옥재욱">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="분리배출 도우미">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="/assets/img/favicon/512x512.png">
    <meta http-equiv="" content="">
    <meta name="description" content="분리배출 도우미">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
</head>

<body class="bg-light">
    <main class="vh-100">
        <div class="row g-0 justify-content-center align-items-center vh-100">
            <div class="col-md-6 col-xl-4">
                <form th:action="@{~/account/register}" th:method="post">
                    <div class="card bg-light border-0">
                        <div class="card-body text-center">
                            <div class="vstack gap-2">
                                <div><img src="/assets/img/favicon/192x192.png" height="128dp"></div>
                                <h1>환영합니다!</h1>
                            </div>
                        </div>
                        <div class="card-body"><input class="form-control" type="text" required="" minlength="1" placeholder="사용자 이름" name="nickname"><input class="form-control mt-2 mb-2" type="email" data-bs-toggle="tooltip" data-bss-tooltip="" required="" placeholder="이메일" minlength="6" name="email" title="사용 가능한 이메일입니다. 이메일이 이미 존재합니다."><input class="form-control mb-2" type="password" required="" placeholder="비밀번호" minlength="6" name="pass" inputmode="latin">
                            <div class="form-check py-2"><input class="form-check-input" type="checkbox" for="remember" name="register-check-agree" required=""><label class="form-check-label" for="formCheck"><small class="form-text"><span style="color: rgb(33, 37, 41);">약관에 기재된&nbsp;</span><a href="#" data-bs-target="#modal-agreement" data-bs-toggle="modal">개인정보 수집 및 이용</a><span style="color: rgb(33, 37, 41);">&nbsp;에 동의합니다</span><br></small></label></div><button class="btn btn-primary d-block box-shadow w-100 mt-2" id="submit-account-2" type="submit">가입하기</button>
                        </div>
                        <div class="card-footer text-center bg-light"><small class="form-text">이미 계정이 있으신가요?&nbsp;<a id="login-link" class="text-decoration-none ps-2" th:href="@{~/account/login}">로그인</a></small></div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="modal" role="dialog" tabindex="-1" id="modal-agreement">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header"><small class="form-text"><span style="color: rgb(33, 37, 41);">개인정보 수집 및 이용</span><br></small><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body"><label class="form-label" disabled=""><small th:text="${termsOfAgreement}">약관 내용</small></label></div>
            </div>
        </div>
    </div><!-- Start: Thymeleaf Navbar -->
    <div th:replace="~{/cmmn/navbar::navbar}" th:if=""></div><!-- End: Thymeleaf Navbar -->
    <!-- Start: Thymeleaf footer -->
    <div th:replace="~{/cmmn/footer::footer}"></div><!-- End: Thymeleaf footer -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/account/register-check.js"></script>
    <script src="/assets/js/cmmn/csrf-init.mjs" type="module"></script>
</body>

</html>