<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0">
    <title>분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:image" content="/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="분리배출 도우미">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
</head>

<body class="bg-light" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <main class="vh-100">
        <div class="row g-0 justify-content-center align-items-center vh-100">
            <div class="col-md-6 col-xl-4">
                <div class="card border-0">
                    <div class="card-header text-center bg-white">
                        <h4>인증</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <ul class="nav nav-pills nav-fill mb-2" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="pill" href="#tab-email">이메일</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="pill" href="#tab-phone">전화번호</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-email">
                                    <form th:method="post" th:action="@{~/account/verify/email}">
                                        <div class="vstack gap-2"><input class="form-control" type="email" required="" placeholder="이메일" minlength="6" name="email"><button class="btn btn-success d-block" id="verify-submit" type="submit" name="verifyEmail">전송</button></div>
                                    </form>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-phone">
                                    <form th:method="post" th:action="@{~/account/verify/phone}">
                                        <div class="vstack gap-2"><input class="form-control" type="tel" placeholder="전화번호" name="phone"><button class="btn btn-success d-block" type="submit" name="verifyPhone">전송</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-center"><small class="form-text">비밀번호를 재설정하셨나요?&nbsp;<a id="login-link" class="text-decoration-none ps-2" th:href="@{~/account/login}">로그인</a></small></div>
                </div>
            </div>
        </div>
    </main><!-- Start: Thymeleaf Navbar -->
    <div th:replace="~{/cmmn/navbar::navbar}" th:if=""></div><!-- End: Thymeleaf Navbar -->
    <!-- Start: Thymeleaf footer -->
    <div th:replace="~{/cmmn/footer::footer}"></div><!-- End: Thymeleaf footer -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/account/verify.js"></script>
    <script src="/assets/js/cmmn/csrf-init.mjs" type="module"></script>
</body>

</html>